.login-form {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 200px;
}

.logout-div {
	position: absolute;
	right: 30px;
	top: 30px;
}

.add-widget-form {
	max-width: 400px;
	margin: 0 auto;
}

.modal-footer button {
	margin-right: 5px !important;
}

.modal {
	height: 90%;
}

.card {
	margin-left: 10%;
	margin-right: 10%;
}

.card button {
	color: #ffab40;
}

.row {
	margin-top: 90px;
}

.dashboard-btn-div {
	position: absolute;
	left: 30px;
	top: 30px;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 10%;
  right: 10%;
}
