<script>
	$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
		$('select').material_select();
  });
</script>

<div class="dashboard-btn-div">
	<a id="dashboard-btn" class="btn light-blue" href="http://localhost:3333">Go to Dashboard</a>
</div>

<!-- Modal Trigger -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large light-blue" href="#modal1"><i class="material-icons">add</i></a>
</div>

<!-- Add new modal -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<form class="add-widget-form" {{action 'addWidget' on='submit'}}>
			<div class="input-field">
		    <select onchange={{action "changeWidget" value="target.value"}}>
		      <option value="" disabled selected>Select widget type</option>
		      <option value="add-jira-widget">JIRA</option>
		      <option value="add-rss-widget">RSS</option>
		      <option value="add-video-widget">Video</option>
		    </select>
		    <label>Widget type</label>
		  </div>
			<!-- Get form based on selected widget type -->
			{{component widgetComponent action="addWidget" urlParam=urlParam limit=limit interval=interval authUser=authUser title=title type=type url=url}}
			<div class="modal-footer">
		    <a class="modal-action modal-close btn light-blue">Close</a>
		    <button class="modal-action modal-close btn light-blue {{addButtonDisabled}}" type="submit">Add widget</button>
		    {{#if errorMessage}}
		      <p>{{errorMessage}}</p>
		    {{/if}}
		  </div>
		</form>
	</div>
</div>

<!-- Edit modal -->
<div id="modal2" class="modal">
	<div class="modal-content">
		<form {{action 'saveWidget' on='submit'}}>
			{{edit-widget-form urlParam=urlParam limit=limit interval=interval authUser=authUser title=title type=type url=url}}
			<div class="modal-footer">
		 		<a class="modal-action modal-close btn light-blue">Close</a>
				<button class="modal-action modal-close btn light-blue" type="submit">Save</button>
		 		{{#if errorMessage}}
 					<p>{{errorMessage}}</p>
		 		{{/if}}
			</div>
		</form>
	</div>
</div>
<!-- Show existing widgets as Materialize cards -->
<div class="row">
	{{#each model as |widget|}}
		<div class="col s12 m6">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title">{{widget.widgetTitle}}</span>
					<p>
						{{widget.url}}<br>
						{{widget.urlParam}}<br>
						{{widget.limit}}<br>
						{{widget.interval}}<br>
						{{widget.authUser}}<br>
						{{widget.widgetType}}<br>
					</p>
				</div>
				<div class="card-action">
					<a class="modal-trigger btn-flat" {{action 'editWidget' widget on='mouseUp'}} href="#modal2">Edit</a>
					<button class="btn-flat" {{action 'deleteWidget' widget on='mouseUp'}}>Delete</button>
				</div>
			</div>
		</div>
	{{/each}}
</div>
