<header>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</header>

<div class="logout-div">
	{{#if session.isAuthenticated}}
		<a id="logout-btn" class="btn light-blue" {{action 'logout'}}>Logout</a>
	{{/if}}
</div>

<div>
	{{outlet}}
</div>

<footer>

</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>