<div class="login-form">
	<form {{action 'authenticate' on='submit'}}>
		<div class="input-field">
			{{input id=username value=username required=true}}
			<label for="username">Username</label>
		</div>
		<div class="input-field">
			{{input id=password value=password type="password" required=true}}
			<label for="password">Password</label>
		</div>
		<button class="btn light-blue" type="submit">Login</button>
		{{#link-to "register" class="btn light-blue"}}Register{{/link-to}}
		{{#if errorMessage}}
			<p>{{errorMessage}}</p>
		{{/if}}
	</form>
</div>
