<div class="login-form">
	<form {{action 'register' on='submit'}}>
		<div class="input-field">
			{{input id=email value=email type="email"}}
			<label for="email">Email</label>
		</div>
		<div class="input-field">
			{{input id=username value=username}}
			<label for="username">Username</label>
		</div>
		<div class="input-field">
			{{input id=password value=password type="password"}}
			<label for="password">Password</label>
		</div>
		<button class="btn light-blue" type="submit">Register</button>
		{{#link-to "login" class="btn light-blue"}}Cancel{{/link-to}}
		{{#if errorMessage}}
			<p>{{errorMessage}}</p>
		{{/if}}
	</form>
</div>
