<div class="add-widget-form">
  <div class="input-field">
    {{input id=url value=url placeholder=""}}
    <label for="type">URL</label>
  </div>
  <div class="input-field">
    {{input id=urlParam value=urlParam placeholder=""}}
    <label for="urlParam">URL parameters</label>
  </div>
  <div class="input-field">
    {{input id=limit value=limit placeholder="" type="number" min="1"}}
    <label for="limit">Result limit</label>
  </div>
  <div class="input-field">
    {{input id=interval value=interval placeholder="" type="number" min="1"}}
    <label for="interval">Update interval</label>
  </div>
  <div class="input-field">
    {{input id=authUser value=authUser placeholder=""}}
    <label for="authUser">Authorized user</label>
  </div>
  <div class="input-field">
    {{input id=title value=title placeholder=""}}
    <label for="title">Widget title</label>
  </div>
  <div class="input-field">
    {{input id=type value=type placeholder=""}}
    <label for="type">Widget type</label>
  </div>
</div>
