<div class="add-widget-form">
  <div class="input-field">
    {{input id=url value=url placeholder=""}}
    <label for="type">URL</label>
  </div>
  <div class="input-field">
    {{input id=title value=title placeholder=""}}
    <label for="title">Widget title</label>
  </div>
  <div class="input-field">
    {{input id=type value=type placeholder=""}}
    <label for="type">Widget type</label>
  </div>
  <!-- Hidden input fields -->
  <div class="input-field">
    {{input id=urlParam value=urlParam placeholder="" type="hidden"}}
    <label for="urlParam" class="hide">URL parameters</label>
  </div>
  <div class="input-field">
    {{input id=limit value=limit placeholder="" type="hidden" min="1"}}
    <label for="limit" class="hide">Result limit</label>
  </div>
  <div class="input-field">
    {{input id=interval value=interval placeholder="" type="hidden" min="1"}}
    <label for="interval" class="hide">Update interval</label>
  </div>
  <div class="input-field">
    {{input id=authUser value=authUser placeholder="" type="hidden"}}
    <label for="authUser" class="hide">Authorized user</label>
  </div>
</div>
