.item-container
  padding 1em

.issue
  font-size 1.7em
  color $gray-ligther
  width 75%
  display inline-block
  float left
  padding-bottom 0.3em

.frequency
  font-size 1.93em
  font-weight bold
  color $brand-primary
  width 18%
  float right
  display inline-block
