<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js"></script>

<h2 class="widget-title">feednamirss</h2>
<div class="content"></div>
